// fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// font-family: 'Fira Sans Extra Condensed', sans-serif;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html{
    font-size: 10px;
}
li{
    list-style: none;
}
header{
    width: 100%;
    height: 7rem;
    // border: 1px solid;
    
    .nav{
        width: 90%;
        height: 6rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        .header-left{
            display: flex;
            width: 10rem;
            flex: 1 1 15rem;
            h1{
                font-size: 3rem;
                color: red;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                margin: 0 1rem;

            }
            p{
                font-size: 1rem;
                align-self: flex-end;
            }
        }
        .header-center{
            display: flex;
            flex: 1 1 20rem;
            justify-content: space-evenly;
            font-size: 2rem;
            a{
                text-decoration: none;
            }
        }
        .header-right{
            display: flex;
            flex: 1 1 15rem;
            justify-content: space-evenly;
            font-size: 2rem;
        }
    }
    .nav_bottom{
        width: 100%;
        height: 5rem;
        background-color: #333333;
        display: flex;
        align-items: center;

        .nav_bottom_item{
            display: flex;
            width: 50%;
            margin: 0 auto;
            justify-content: space-between;
            align-items: center;
            font-size: 2rem;
            color: #FFFFFF;
        }
    }
}
.section_img{
    width: 100%;
   
    img{
        margin-top: 4rem;
        width: 100%;
        background-size: cover;
    }
}
.calculator_wrapper{
    width: 100%;
    background-color: #F5F7F9;
    .advertising{
        width: 90%;
        height: 15rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        font-weight: bold;
    }
    .calculator{
        width: 80%;
        background-color: #FFFFFF;
        margin: 0 auto;
        h1{
            font-size: 5rem;
            line-height: 5rem;
            text-align: center;
            margin: 5rem 1rem;
        }
        .calculator-item{
            width: 90%;
            height: auto;
            display: flex;
            margin: 0 auto;
            font-size: 1.7rem;        
            .region{
                width: 95%;
                display: flex;
                justify-content: flex-start;
                // flex-wrap: wrap;
                li{
                    width: 10rem;
                    height: auto;
                    margin: 0.5rem 2rem;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    background-color: #EAECEF;
                }
            }
            .promoted{
                display: flex;
                width: 30rem;
                justify-content: flex-end;
                align-items: center;
                margin: 0.5rem 2rem;
                li:nth-child(2){
                    width: 14.7rem;
                    margin-left: 1rem;
                }
            }
            
        }
        .Price{
            width: 90%;
            height: auto;
            margin: 0 auto;
            display: flex;
            margin-top: 2rem;
            font-size: 1.7rem;
            justify-content: space-between;
            
        }
        .range_wrapper{
            width: 90%;
            margin: 0 auto;
        }
        h2{
            width: 15rem;
            height: auto;
            border: 1px solid #e67676;
            color: #FF0404;
            font-size: 1.6rem;
            margin: 2rem auto;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .plan_for_3_months{
            width: 100%;
            h3{
                text-align: center;
                font-size: 3rem;
                line-height: 3rem;
            }
            li{
                list-style-type: disc;
                font-size: 2rem;
                color: red;
                a{
                    color: black;
                }
            }
            .months{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin: 2rem auto;
                margin-left: 0.1rem;
                .month1{
                    padding-left: 2rem;
                    flex: 1 1 15rem;
                    margin-right: 2rem;
                    li{
                        a{
                            opacity: 85%;
                        }
                    }
                }
                .month2{
                    flex: 1 1 15rem;
                    margin-right: 2rem;
                    li{
                        a{
                            opacity: 85%;
                        }
                    }
                }
                .month3{
                    flex: 1 1 15rem;
                    li{
                        a{
                            opacity: 85%;
                        }
                    }
                }

            }
        }
    }

}
.tariffs_wrapper{
    width: 90%;
    .Comparison_of_tariffs{
        font-size: 5rem;
        text-align: center;
    }
    .header-tariffs{
        width: 90%;
        height: auto;
        font-size: 1.6rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 auto;
        li{
            margin: 2rem 1rem;
        }
    }
    .Scan-wrapper{
        width: 100%;
        .scan{
            width: 80%;
            height: 4.6rem;
            background-color: #FFD773;
            font-size: 3rem;
            margin: 0 auto;
           
            h4{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
            }
        }
        .audit-wrapper{
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
                .audit{
                    margin: 1rem auto;
                    padding-left: 8rem;
                    width: 70%;
                    h3{
                        font-size: 2rem;
                        line-height: 2rem;          
                    }
                    p{
                        font-size: 1.6rem;
                        opacity: 90%;
                    }
                }
            .audit-responsive{
                display: none;
            }
            .audit-table{
                width: 45%;
                tr{
                    th{
                        img{
                            margin: 0 4rem;
                        }
                    }
                }          
            }
        }
        .keywords{
            width: 80%;
            height: 4.6rem;
            background-color: #77CBFA;
            font-size: 3rem;
            margin: 0 auto;
            h5{
                text-align: center;

            }
        }
    }
    .compilation-wrapper{
        width: 100%;
        .compilation{
            margin: 2rem auto;
            padding-left: 8rem;
            width: 80%;
            h3{
                font-size: 2.2rem;
                line-height: 2.2rem;
               
            }
            p{
                font-size: 1.6rem;
                opacity: 90%;
            }
        }
        .audit-responsive{
            display: none;
        }
    }
    .money{
        display: flex;
        justify-content: flex-end;
        width: 80%;
        margin: 0 auto;
        li{
            margin-left: 2rem;
            
            p{
                width: 12rem;
                height: auto;
                border: 1px solid #ec5454;
                color: #FF0404;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.6rem;
            }
            h4{
                font-size: 2.4rem;
                text-align: center;
            }
        }
    }
}
.Application_form-wrapper{
    width: 100%;
    background-color: #333333;
    margin-top: 5rem;
    color: white;
    .Application_form{
        h4{
            text-align: center;
            font-size: 5rem;
            line-height: 5rem;
            padding: 3rem 0;
        }
    }
    
    .form{
        width: 90%;
        display: flex;
        margin: 1rem auto;
        .name{
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            
            h5{
                width: 20rem;
                border: 1px solid #FFFFFF;
                font-size: 1.6rem;
                margin: 2rem 2rem;
                flex-wrap: wrap;
                text-align: center;
            }
        }
        .application{
            width: 50%;
            p{
                font-size: 1.4rem;
                padding: 3rem 0;
            }
            h6{
                font-size: 1.6rem;
                width: 31rem;
                background-color: #FF0404;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

}
.heading-wrapper{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .heading{
        margin: 0 auto;
        .heading-img{
            width: 13.9rem;
            border-radius: 50%;
            background-color: #F2F2F2;
            padding-left: 2.5rem;
            position: relative;
            img{
                position: absolute;
                left: 40px;
                bottom: 0px;
            }
        }
        .zagolovok{
            h3{
                font-size: 2.2rem;
                text-align: center;
            }
            p{
                font-size: 1.4rem;
                text-align: center;
                opacity: 90%;
            }
        }
    }
}
.rates-wrapper{
    width: 100%;
    background-color: #ECE8E5;
    h2{
        font-size: 5rem;
        text-align: center;
        padding: 3rem 0;
    }
    .rates{
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        .positions{
            width: 23rem;
            height: 43rem;
            border: 1px solid #93E7FF;
            border-radius: 2rem;
            background-color: #93E7FF;
            margin: 0 auto;
            position: relative;
            h3{
                font-size: 2rem;
                line-height: 2rem;
                text-align: center;
                padding: 1rem 0;
                margin-top: 1rem;
            }
            img{
                margin: 0 auto;
                position: absolute;
                left: 5rem;
                top: 7rem;
            }
            p{
                padding: 15rem 4rem 4rem 0;
                font-size: 1.4rem;
                text-align: center;
            }
            h4{
                font-size: 1.8rem;
                text-align: center;
            }
            h5{
                width: 19rem;
                height: 5rem;
                background-color: #FFFFFF;
                font-size: 1.6rem;
                margin: 3rem auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
.portfolio-wrapper{
    width: 100%;
    h2{
        font-size: 5rem;
        text-align: center;
        margin: 5rem 0;
    }
    .portfolio{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
    
        .Promotion{
            background-color: #F5F7F9;
            text-align: center;
            border: 1px solid;
            margin: 0 1rem 3rem 1rem;
            h6{
                font-size: 2rem;
                line-height: 2rem;
                margin-top: 3rem;
                
            }
            p{
                font-size: 1.4rem;
                margin-top: 2rem;
            }
            
        }
    }
}
.footer{
    width: 100%;
    height: 25rem;
    background-color: #333333;
    position: relative;
    .bottom-item{
        width: 80%;
        display: flex;
        margin: 0 auto;
        padding-top: 5rem;
        padding-bottom: 2rem;
        .bottom-left{
            display: flex;
            flex: 1 1 20rem;
            h1{
                font-size: 2.5rem;
                color: red;
                margin-right: 1rem;
            }
            p{
                font-size: 1rem;
                color: #FFFFFF;
                padding-top: 0.5rem;
                
            }
        }
        .bottom-center{
            display: flex;
            flex: 2 1 35rem;
            justify-content: space-evenly;
            }
            .bt-item{
                color: #FFFFFF;
                h5{
                    font-size: 2.2rem;
                    margin-bottom: 2rem;
                }
                li{
                    font-size: 1.6rem;
                    list-style-type: disc;
                    margin: 1rem 1rem;
                }
            }
    }
    .line-btn{
        position: absolute;
        left: 50px;
        bottom: 60px;
    }
    .bottom-btn{
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: 1rem auto;
        color: #FFFFFF;
        align-self: center;
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 768px) {
    header{
        .nav{
            .header-left{
                h1{
                    font-size: 2rem;
                }
                p{
                    font-size: 1rem;
                }
            }
            .header-center{
                display: none;
            }
        }
    .nav_bottom{
        .nav_bottom_item{
            display: flex;
            width: 80%;
            font-size: 1.4rem;
        }
    }
}
    .calculator_wrapper{
        .advertising{
            font-size: 3rem;
        }
        .calculator{
            width: 90%;
            h1{
                font-size: 2rem;
                line-height: 2rem;
                margin: 1rem 0rem;
            }
            .calculator-item{
                width: 100%;
                height: 2rem;
                flex-wrap: wrap;
                font-size: 1.2rem; 
            }
            .plan_for_3_months{
               
                h3{
                    font-size: 2rem;
                    line-height: 2rem;
                }
                li{
                    font-size: 1.4rem;
                }
                .months{
                    display: flex;
                    justify-content: space-between;
                   margin: 0 1rem;
                   
                    padding: 0;
                    .month1{
                        padding-left: 2rem;
                    }
                }
            }
           
        }
    } 
    .tariffs_wrapper{
        .Comparison_of_tariffs{
            font-size: 3rem;
            margin-top: 2rem;
        }
        .header-tariffs{
            height: 6rem;
            font-size: 1.2rem;
            li{
                margin: 2rem 1rem;
            }
        }
        .money{
            flex-wrap: wrap;
            width: 90%;
                p{
                    width: 10rem;
                    height: 3rem;
                    flex-wrap: wrap;
                    font-size: 1.2rem;
                }
                h4{
                    font-size: 2rem;
                }
        }
    }
    .Application_form-wrapper{
        height: auto;
        margin-top: 1rem;
        .Application_form{
            h4{
                font-size: 4rem;
                line-height: 4rem;
            }
        }
        .form{
           flex-wrap: nowrap;
            .name{
                h5{
                    width: 12rem;
                    height: 4rem;
                    border: 1px solid #FFFFFF;
                    font-size: 1.4rem;
                    text-align: center;
                    margin: 1rem auto;
                }
            }
        }
        .application{
            width: 10%;
            p{
                font-size: 1.4rem;
                padding: 3rem 0;
            }
            h6{
                font-size: 1.5rem;
                width: 2rem;
                height: 2rem;
                background-color: #da0b0b;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .heading-wrapper{
        height: auto;
        flex-wrap: wrap;
        .heading{
            .heading-img{
                width: 10rem;
                height: 10rem;
                padding-left: 2.5rem;
                img{
                    position: absolute;
                    left: 10px;
                    bottom: 0px;
                }
            }
        }
    }
    .rates-wrapper{
        h2{
            padding: 1rem 0;
            font-size: 3rem;
        }
        .rates{
            flex-wrap: wrap-reverse;
            .positions{
                width: 23rem;
                height: auto;  
            }
        }
    }
    .portfolio-wrapper{
        h2{
            font-size: 3rem;
            margin: 2rem 0;
        }
        .portfolio{
            display: block;
            width: 90%;
        }
    }
    .footer{
        height: auto;
        .bottom-item{
            width: 80%;
            padding-top: 3rem;
            padding-bottom: 1rem;
            .bottom-left{
                h1{
                    font-size: 1.8rem;
                }
                    }
                .bt-item{
                    color: #FFFFFF;
                    h5{
                        font-size: 1.8rem;
                        margin-bottom: 2rem;
                    }
                    li{
                        font-size: 1.4rem;
                    }
                }
        }
        .line-btn{
            display: none;
        }
        .bottom-btn{
            width: 80%;
            display: flex;
            justify-content: space-between;
            margin: 1rem auto;
            color: #FFFFFF;
            align-self: center;
            font-size: 1.6rem;
        }
    }      
    
}

// 425 dan past holatda responsive qilish
@media only screen and (max-width: 425px){
    header{
        height: 1rem;
        .nav{
            .header-right{
                display: none;     
            }
        }
        .nav_bottom{
            display: none;
        }
    }
    .calculator_wrapper{
        width: 100%;
        background-color: #F5F7F9;
        .advertising{
            width: 90%;
            height: 15rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3.5rem;
            font-weight: bold;
            margin: 0 auto;
            position: relative;
            .icon-fire img{
                position: absolute;
                left: 170px;
                height: 300px;
                width: 5rem;
                height: 5rem;
            }
        }
        .calculator{
            width: 80%;
            background-color: #FFFFFF;
            margin: 0 auto;
            h1{
                font-size: 3rem;
                line-height: 3rem;
                margin: 1rem auto;
            }
            .calculator-item{
                width: 90%;
                height: auto;
                display: flex;
                margin: 0 auto;
                font-size: 1.7rem;        
                .region{
                    width: 80%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    align-items: center;
                    li{
                        width: 29rem;
                        height: 4rem;
                        margin: 0.5rem 2rem;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        background-color: #EAECEF;
                    }
                }
                .promoted{
                    display: flex;
                    width: 30rem;
                    justify-content: flex-start;
                    align-items: center;
                    margin: 2rem 2rem;
                    font-size: 16px;
                    li:nth-child(2){
                        width: 24.7rem;
                        margin-left: 1rem;
                    }
                }
                
            }
            .Price{
                width: 90%;
                height: 3rem;
                margin: 0 auto;
                display: flex;
                margin-top: 2rem;
                font-size: 1.7rem;
                justify-content: space-between;
                
            }
            .img{
                .ellipse{
                    img{
                        left: 155px;
                        top: -1px;
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }   
                }
            h2{
                width: 15rem;
                height: 5rem;
                border: 1px solid #e67676;
                color: #FF0404;
                font-size: 1.6rem;
                margin: 2rem auto;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .plan_for_3_months{
                width: 100%;
                h3{
                    text-align: center;
                    font-size: 3rem;
                    line-height: 3rem;
                }
                li{
                    list-style-type: disc;
                    font-size: 2rem;
                    color: red;
                    a{
                        color: black;
                    }
                }
                .months{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: flex-start;
                    margin: 2rem auto;
                    margin-left: 0.1rem;
                    .month1{
                        padding-left: 2rem;
                        flex: 1 1 25rem;
                        margin-right: 2rem;
                    }
                    .month2{
                        flex: 1 1 25rem;
                        margin-right: 2rem;
                    }
                    .month3{
                        flex: 1 1 25rem;
                    }
    
                }
            }
        }
    
    }
    .tariffs_wrapper{
        .Comparison_of_tariffs{
            p{
                margin-top: 0;
            }
        }
    
    .header-tariffs{
        height: auto;
       li{
           display: none;
       }
    }
    .Scan-wrapper{
        margin-top: 0rem;
        .audit-wrapper{
            display: block;
            .audit{
                margin: 1rem 0;
                padding-left: 1.5rem;
            }
            .audit-responsive{
                display: block;
                width: 90%;
                margin: 0 auto;
                
                li{
                    width: 90%;
                    font-size: 1.6rem;
                    img{
                        margin-left: 2rem;
                    }
                }
            }
            .audit-table{
                display: none;
            }
        }
        .audit-wrapper:nth-child(3){
            display: none;
        }
        .keywords{
            margin-top: 1rem;
            height: 6rem;
            h5{
                font-size: 2.5rem;
            }
        }
    }
    .compilation-wrapper{
        width: 90%;
        .compilation{
            margin: 1rem 0;
            padding-left: 3.5rem;
            width: 90%;
            h3{
                font-size: 2rem;
                line-height: 2rem;
            }
            p{
                font-size: 1.6rem;
                opacity: 90%;
            }
        }
        .audit-responsive{
            display: block;
            width: 90%;
            margin: 1rem 0 2rem 3.5rem;
            li{
                width: 90%;
                font-size: 1.6rem;
                img{
                    margin-left: 2rem;
                }
            }
        }
    }
    .money{
        display: block;
        li{
            margin: 2rem;
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #EAECEF;
            h4{
                font-size: 2rem;
                margin-right: 2rem;
            }
            P{
                height: 3rem;
            }
        }
    }
}
.Application_form-wrapper{   
    .form{
        width: 90%;
        display: block;
        margin: 1rem auto;
        .name{
            display: block;
            h5{
                width: 33rem;
                text-align: start;
                margin: 1rem 1rem;
                padding: 0.5rem 0 0 2rem;
            } 
        }
        .application{
            display: flex;
            width: 100%;
            flex-direction: column-reverse;
            h6{
                height: 5rem;
                margin: 0 auto;
                border-radius: 0.5rem;
            }
        }
    }
}
.heading-wrapper{
    height: auto;
    display: block;
    margin-top: 2rem;
    .heading{
        margin: 2rem auto;
        display: flex;
        justify-content: space-evenly;
        .heading-img{
            position: static;
            img{
                position: static;
            }
        }
    }
    
}
.rates-wrapper{
    .rates{
        .positions{
            margin-top: 2rem;
        }
    }
}
.footer{
    height: auto;
    position: relative;
    .bottom-item{
        display: block;
        margin: 0 0;
        padding: 5rem 0 2rem 4rem;
        .bottom-left{
            display: block;
        }
        .bottom-center{
            display: block;
            }
    }
    .line-btn{
        position: absolute;
        left: 50px;
        bottom: 60px;
    }
    .bottom-btn{
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: 1rem auto;
        color: #FFFFFF;
        align-self: center;
        font-size: 1.6rem;
    }
}
}

