@media only screen and (max-width: 850px){
    header{
        .nav_top{
            .menu_top{
                .nav_link{
                    width: 80%;
                    height: 100%;
                    background-color: aqua;
                    position: fixed;
                    top: 0;
                    left: -100%;
                    z-index: 5;
                }
                .burger{
                    span{
                        display: block;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 555px){
    footer{
        .footer_wrapper{
            .footer_in_logo{
                margin: 1rem auto;
            }
            .footer_in{
                margin: 1rem auto;
            }
        }
    }
}
@media only screen and (max-width: 478px){
    header{
        .nav_bottom{
            .menu_bottom{
                display: none;
            }
        }
    }
}

.active{
    left: 0 !important;
}